<head>
	<title>What's That Pokemon</title>
</head>
<body>
	<div id="container">
		<div class="content">
			<h1>What's That Pokemon</h1>
		</div>
		<div class="content">
			{{> puzzle}}
			{{> choices}}
		</div>
	</div>
</body>

<!-- POKEMON PICTURE -->
<template name="puzzle">
	<div id="pokemon-puzzle">
		<img class="image" src="{{image}}" />
		<img class="mask" src="{{image}}" />
	</div>
</template>

<!-- POKEMON CHOICES -->
<template name="choices">
	<div id="pokemon-choices-container">
	{{#each choices}}
	{{> choice}}
	{{/each}}
	</div>
</template>

<!-- POKEMON CHOICE -->
<template name="choice">
	<div class="pokemon-choice">{{name}}</div>
</template>